* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 80vw;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-right: 40px;
}

.links a:hover {
    color: #0065FE;
}

.links select {
    padding: 5px;
    border: none;
    background-color: #fff;
    outline: none;
    font-size: 19px;
}

.links .active {
    color: #0065FE;
    font-weight: 500;
}

.cta a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #0065FE;
}

.cta .button {
    margin-left: 20px;
    color: #fff;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #0065FE;
}

.section-one {
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
}

.section-one span {
    text-align: center;
    font-size: 26px;
    width: 60%;
    font-family: 'Gill Sans';
}

.section-one .cta {
    margin-top: 70px;
}

.section-one .cta .button {
    margin-right: 60px;
}

.section-two {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.section-two .content {
    width: 70%;
    position: relative;
    display: flex;
}

.bg-icon {
    width: 250px;
    height: 300px;
}

.section-two .aside {
    border: 2px solid rgba(128, 128, 128, 0.425);
    position: absolute;
    border-radius: 30px;
    padding: 70px;
    top: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(226, 233, 240, 0.9), rgb(255, 255, 255, 1));
}

.section-two .aside img {
    width: 60%;
}

.section-two .aside span {
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

.section-two .bottom-plate {
    width: 100%;
    margin: 50px auto 0;
}

.section-three {
    background-color: #F9FBFD;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.section-three .content-one {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.blue {
    color: #0065FE
}

.section-three .content-one span {
    font-weight: 600;
    font-size: 40px;
}

.section-three .content-two {
    display: flex;
    justify-content: space-between;
}

.section-three .content-two div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    justify-content: center;
}

.section-three .content-two h2 {
    font-size: 28px;
    font-weight: 500;
}

.section-three .content-two span {
    font-size: 16px;
    font-weight: 300;
}

.section-four {
    background-color: #F9FBFD;
    margin-top: 50px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.section-four .content-one {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    width: 30%;
}

.section-four .content-one h2 {
    font-weight: 600;
    font-size: 40px;
}

.section-four .content-one p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}

.section-four .content-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    width: 58%;
}

.section-four .content-two h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-four .content-two span {
    font-size: 14px;
    font-weight: 300;
}

.section-five .title {
    width: 40%;
    margin: 0 auto;
}

.section-five .title h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 80px;
}

.section-five .title p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.section-five .billing {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.section-five .billing .normal {
    border: 1px solid #005AE2;
    padding: 40px 70px;
    width: 33%;
    border-radius: 10px;
    max-height: 50vh;
    margin-top: 100px;
}

.section-five .billing .professional {
    background-color: #1E3448;
    padding: 140px 70px;
    width: 33%;
    color: #fff;
    border-radius: 10px;
    max-height: 50vh;
}

.section-five .billing h1 {
    font-size: 24px;
    font-weight: 400;
}

.section-five .billing h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-five .billing span {
    font-size: 20px;
    font-weight: 300;
}

.section-five .plan-features div {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.section-five .plan-features span {
    font-size: 16px;
    margin-left: 5px;
}

.section-five .cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-five .cta a {
    border: 1px solid #005AE2;
    padding: 10px 40px;
    border-radius: 20px;
}

.section-six {
    margin-top: 100px;
    padding: 100px 0;
    background-color: #1E3448;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-six .content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-six .content .url {
    padding: 15px;
    border: 1px solid #3284FF;
    outline: none;
    width: 95%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.section-six .content div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-six .content input {
    padding: 15px;
    border: 1px solid #3284FF;
    width: 45%;
    border-radius: 20px;
}

.section-six .content input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #3284FF;
}

.section-six .content select {
    padding: 15px;
    border: 1px solid #3284FF;
    width: 45%;
    background-color: #fff;
    color: #3284FF;
    border-radius: 20px;
}

.section-six button {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #005AE2;
    color: #fff;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section-six p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    width: 80%;
}


/* footer  */

footer {
    padding-block: 5.5rem;
    padding-block-end: 2.5rem;
}

@media screen and (min-width: 1000px) {
    .footer {
        background-image: url('./images/footer-left-bg.svg'), url('./images/footer-right-bg.svg');
        background-position: bottom left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

.footer-center {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer img {
    display: block;
}

.footer-socials {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 650px) {
    .footer-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 800px) {
    .footer-center {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1100px) {
    .footer-center {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .footer-second-line {
        grid-column: 2/3;
    }
}

.footer a:hover {
    color: #0065fe;
}

.footer-text {
    margin-top: 4rem;
    text-align: right;
    font-size: 14px;
}


/* sidebar */

.sidebar {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    backdrop-filter: blur(20px);
    max-width: 500px;
}

.sidebar-center {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem;
}

.sidebar-close-btn {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    justify-content: flex-end;
    background: none;
    border: none;
    color: #005ae2;
}

.sidebar-links {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #0065fe;
    font-size: 1.5rem;
    align-items: center;
}

.sidebar-link {
    color: #0065fe;
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar-open-btn,
.sidebar-close-btn {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .questions {
        background-image: url('./images/faq-left-bg.svg'), url('./images/faq-right-bg.svg');
        background-position: top left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}

.question-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}

.question {
    padding: 0.7rem;
    border-bottom: 1px dotted #d6d6d6;
    cursor: pointer;
}

.question-title {
    font-size: 2.5rem;
}

.question-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 792px;
    z-index: 10;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    gap: 10px;
}

.question-header-title {
    font-size: 1.1rem;
}

.question-btn {
    background: none;
    border: none;
}

.minus {
    display: none;
}

.question-body {
    display: none;
}

.active .minus {
    display: block;
}

.active .plus {
    display: none;
}

.active .question-body {
    display: block;
    font-size: 0.8rem;
}

@media screen and (min-width: 950px) {
    .question-header-title {
        font-size: 1.25rem;
    }
    .active .question-body {
        font-size: 1rem;
    }
}


/* Optimize */

.optimize {
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
    position: relative;
    overflow-y: hidden;
}

.optimize h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}

.optimize-btn {
    text-align: center;
}

.optimize-btn .btn {
    width: 12rem;
    font-size: 1rem;
}

@media screen and (min-width: 1000px) {
    .optimize {
        background-color: #1e3448;
        background-image: url('./images/optimize-left-bg.svg'), url('./images/optimize-right-bg.svg');
        background-position: top left, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
}